<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ActivitiesMapper" >
  <resultMap id="BaseResultMap" type="domain.Activities" >
    <id column="activitiesID" property="activitiesid" jdbcType="INTEGER" />
    <result column="mapID" property="mapid" jdbcType="INTEGER" />
    <result column="personaID" property="personaid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    activitiesID, mapID, personaID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activities
    where activitiesID = #{activitiesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activities
    where activitiesID = #{activitiesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Activities" >
    insert into activities (activitiesID, mapID, personaID
      )
    values (#{activitiesid,jdbcType=INTEGER}, #{mapid,jdbcType=INTEGER}, #{personaid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.Activities" >
    insert into activities
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activitiesid != null" >
        activitiesID,
      </if>
      <if test="mapid != null" >
        mapID,
      </if>
      <if test="personaid != null" >
        personaID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activitiesid != null" >
        #{activitiesid,jdbcType=INTEGER},
      </if>
      <if test="mapid != null" >
        #{mapid,jdbcType=INTEGER},
      </if>
      <if test="personaid != null" >
        #{personaid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Activities" >
    update activities
    <set >
      <if test="mapid != null" >
        mapID = #{mapid,jdbcType=INTEGER},
      </if>
      <if test="personaid != null" >
        personaID = #{personaid,jdbcType=INTEGER},
      </if>
    </set>
    where activitiesID = #{activitiesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Activities" >
    update activities
    set mapID = #{mapid,jdbcType=INTEGER},
      personaID = #{personaid,jdbcType=INTEGER}
    where activitiesID = #{activitiesid,jdbcType=INTEGER}
  </update>
</mapper>