<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ReleaseMapper" >
  <resultMap id="BaseResultMap" type="domain.Release" >
    <id column="releaseID" property="releaseid" jdbcType="INTEGER" />
    <result column="rModelID" property="rmodelid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    releaseID, rModelID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from release
    where releaseID = #{releaseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from release
    where releaseID = #{releaseid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Release" >
    insert into release (releaseID, rModelID)
    values (#{releaseid,jdbcType=INTEGER}, #{rmodelid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.Release" >
    insert into release
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="releaseid != null" >
        releaseID,
      </if>
      <if test="rmodelid != null" >
        rModelID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="releaseid != null" >
        #{releaseid,jdbcType=INTEGER},
      </if>
      <if test="rmodelid != null" >
        #{rmodelid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Release" >
    update release
    <set >
      <if test="rmodelid != null" >
        rModelID = #{rmodelid,jdbcType=INTEGER},
      </if>
    </set>
    where releaseID = #{releaseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Release" >
    update release
    set rModelID = #{rmodelid,jdbcType=INTEGER}
    where releaseID = #{releaseid,jdbcType=INTEGER}
  </update>
</mapper>