<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ReleasesMapper" >
  <resultMap id="BaseResultMap" type="domain.Releases" >
    <id column="releasesID" property="releasesid" jdbcType="INTEGER" />
    <result column="releaseID" property="releaseid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    releasesID, releaseID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from releases
    where releasesID = #{releasesid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from releases
    where releasesID = #{releasesid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Releases" >
    insert into releases (releasesID, releaseID)
    values (#{releasesid,jdbcType=INTEGER}, #{releaseid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.Releases" >
    insert into releases
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="releasesid != null" >
        releasesID,
      </if>
      <if test="releaseid != null" >
        releaseID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="releasesid != null" >
        #{releasesid,jdbcType=INTEGER},
      </if>
      <if test="releaseid != null" >
        #{releaseid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Releases" >
    update releases
    <set >
      <if test="releaseid != null" >
        releaseID = #{releaseid,jdbcType=INTEGER},
      </if>
    </set>
    where releasesID = #{releasesid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Releases" >
    update releases
    set releaseID = #{releaseid,jdbcType=INTEGER}
    where releasesID = #{releasesid,jdbcType=INTEGER}
  </update>
</mapper>