<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.RitemMapper" >
  <resultMap id="BaseResultMap" type="domain.Ritem" >
    <id column="rItemID" property="ritemid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    rItemID, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ritem
    where rItemID = #{ritemid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ritem
    where rItemID = #{ritemid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Ritem" >
    insert into ritem (rItemID, content)
    values (#{ritemid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.Ritem" >
    insert into ritem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ritemid != null" >
        rItemID,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ritemid != null" >
        #{ritemid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Ritem" >
    update ritem
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where rItemID = #{ritemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Ritem" >
    update ritem
    set content = #{content,jdbcType=VARCHAR}
    where rItemID = #{ritemid,jdbcType=INTEGER}
  </update>
</mapper>