<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.RmodelMapper" >
  <resultMap id="BaseResultMap" type="domain.Rmodel" >
    <id column="rModelID" property="rmodelid" jdbcType="INTEGER" />
    <result column="rItemID" property="ritemid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    rModelID, rItemID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rmodel
    where rModelID = #{rmodelid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rmodel
    where rModelID = #{rmodelid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Rmodel" >
    insert into rmodel (rModelID, rItemID)
    values (#{rmodelid,jdbcType=INTEGER}, #{ritemid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.Rmodel" >
    insert into rmodel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rmodelid != null" >
        rModelID,
      </if>
      <if test="ritemid != null" >
        rItemID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rmodelid != null" >
        #{rmodelid,jdbcType=INTEGER},
      </if>
      <if test="ritemid != null" >
        #{ritemid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Rmodel" >
    update rmodel
    <set >
      <if test="ritemid != null" >
        rItemID = #{ritemid,jdbcType=INTEGER},
      </if>
    </set>
    where rModelID = #{rmodelid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Rmodel" >
    update rmodel
    set rItemID = #{ritemid,jdbcType=INTEGER}
    where rModelID = #{rmodelid,jdbcType=INTEGER}
  </update>
</mapper>