<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TasksMapper" >
  <resultMap id="BaseResultMap" type="domain.Tasks" >
    <id column="tasksID" property="tasksid" jdbcType="INTEGER" />
    <result column="mapID" property="mapid" jdbcType="INTEGER" />
    <result column="personaID" property="personaid" jdbcType="INTEGER" />
    <result column="aModelID" property="amodelid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    tasksID, mapID, personaID, aModelID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tasks
    where tasksID = #{tasksid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tasks
    where tasksID = #{tasksid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Tasks" >
    insert into tasks (tasksID, mapID, personaID, 
      aModelID)
    values (#{tasksid,jdbcType=INTEGER}, #{mapid,jdbcType=INTEGER}, #{personaid,jdbcType=INTEGER}, 
      #{amodelid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.Tasks" >
    insert into tasks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tasksid != null" >
        tasksID,
      </if>
      <if test="mapid != null" >
        mapID,
      </if>
      <if test="personaid != null" >
        personaID,
      </if>
      <if test="amodelid != null" >
        aModelID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tasksid != null" >
        #{tasksid,jdbcType=INTEGER},
      </if>
      <if test="mapid != null" >
        #{mapid,jdbcType=INTEGER},
      </if>
      <if test="personaid != null" >
        #{personaid,jdbcType=INTEGER},
      </if>
      <if test="amodelid != null" >
        #{amodelid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Tasks" >
    update tasks
    <set >
      <if test="mapid != null" >
        mapID = #{mapid,jdbcType=INTEGER},
      </if>
      <if test="personaid != null" >
        personaID = #{personaid,jdbcType=INTEGER},
      </if>
      <if test="amodelid != null" >
        aModelID = #{amodelid,jdbcType=INTEGER},
      </if>
    </set>
    where tasksID = #{tasksid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Tasks" >
    update tasks
    set mapID = #{mapid,jdbcType=INTEGER},
      personaID = #{personaid,jdbcType=INTEGER},
      aModelID = #{amodelid,jdbcType=INTEGER}
    where tasksID = #{tasksid,jdbcType=INTEGER}
  </update>
</mapper>