<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TitemMapper" >
  <resultMap id="BaseResultMap" type="domain.Titem" >
    <id column="tItemID" property="titemid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tItemID, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from titem
    where tItemID = #{titemid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from titem
    where tItemID = #{titemid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Titem" >
    insert into titem (tItemID, content)
    values (#{titemid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="domain.Titem" >
    insert into titem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="titemid != null" >
        tItemID,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="titemid != null" >
        #{titemid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Titem" >
    update titem
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where tItemID = #{titemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Titem" >
    update titem
    set content = #{content,jdbcType=VARCHAR}
    where tItemID = #{titemid,jdbcType=INTEGER}
  </update>
</mapper>