<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TmodelMapper" >
  <resultMap id="BaseResultMap" type="domain.Tmodel" >
    <id column="tModelID" property="tmodelid" jdbcType="INTEGER" />
    <result column="tasksID" property="tasksid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tModelID, tasksID, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tmodel
    where tModelID = #{tmodelid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tmodel
    where tModelID = #{tmodelid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Tmodel" >
    insert into tmodel (tModelID, tasksID, content
      )
    values (#{tmodelid,jdbcType=INTEGER}, #{tasksid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="domain.Tmodel" >
    insert into tmodel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tmodelid != null" >
        tModelID,
      </if>
      <if test="tasksid != null" >
        tasksID,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tmodelid != null" >
        #{tmodelid,jdbcType=INTEGER},
      </if>
      <if test="tasksid != null" >
        #{tasksid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Tmodel" >
    update tmodel
    <set >
      <if test="tasksid != null" >
        tasksID = #{tasksid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where tModelID = #{tmodelid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Tmodel" >
    update tmodel
    set tasksID = #{tasksid,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR}
    where tModelID = #{tmodelid,jdbcType=INTEGER}
  </update>
</mapper>