<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.VersionMapper" >
  <resultMap id="BaseResultMap" type="domain.Version" >
    <id column="versionsID" property="versionsid" jdbcType="INTEGER" />
    <result column="mapID" property="mapid" jdbcType="INTEGER" />
    <result column="aModelID" property="amodelid" jdbcType="INTEGER" />
    <result column="tModelID" property="tmodelid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    versionsID, mapID, aModelID, tModelID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from versions
    where versionsID = #{versionsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from versions
    where versionsID = #{versionsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="domain.Version" >
    insert into versions (versionsID, mapID, aModelID, 
      tModelID)
    values (#{versionsid,jdbcType=INTEGER}, #{mapid,jdbcType=INTEGER}, #{amodelid,jdbcType=INTEGER}, 
      #{tmodelid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="domain.Version" >
    insert into versions
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="versionsid != null" >
        versionsID,
      </if>
      <if test="mapid != null" >
        mapID,
      </if>
      <if test="amodelid != null" >
        aModelID,
      </if>
      <if test="tmodelid != null" >
        tModelID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="versionsid != null" >
        #{versionsid,jdbcType=INTEGER},
      </if>
      <if test="mapid != null" >
        #{mapid,jdbcType=INTEGER},
      </if>
      <if test="amodelid != null" >
        #{amodelid,jdbcType=INTEGER},
      </if>
      <if test="tmodelid != null" >
        #{tmodelid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="domain.Version" >
    update versions
    <set >
      <if test="mapid != null" >
        mapID = #{mapid,jdbcType=INTEGER},
      </if>
      <if test="amodelid != null" >
        aModelID = #{amodelid,jdbcType=INTEGER},
      </if>
      <if test="tmodelid != null" >
        tModelID = #{tmodelid,jdbcType=INTEGER},
      </if>
    </set>
    where versionsID = #{versionsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="domain.Version" >
    update versions
    set mapID = #{mapid,jdbcType=INTEGER},
      aModelID = #{amodelid,jdbcType=INTEGER},
      tModelID = #{tmodelid,jdbcType=INTEGER}
    where versionsID = #{versionsid,jdbcType=INTEGER}
  </update>
</mapper>