body, html {
    margin: 0px;
    height:100%;
    background: darkgray ;
}


#header {
    background: blue;
    height: 100px;
    position: relative;
}

#h_left {
    height: 100%;
    background: yellow;
    width: 50%;
    position: absolute;
    top: 0px;

}

#h_right {
    height: 100%;
    background: chocolate;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 0px;
}


.left {
    width: 15%; /*这里是百分比或者像素值，对应下面的center就是百分比或者像素值*/
    height: 200px;
    background: red;
    float: left;
}

.right {
    width: 15%; /*这里是百分比或者像素值，对应下面的center就是百分比或者像素值*/
    height: 200px;
    background: pink;
    float: right;
}

.center {
    height: 200px;
    background: green;
    /*两种方式均可（一）margin(二)margin-left、margin-right*/
    /*（一）、用这种方式上面的left和right中的width是百分比或者像素值都可以*/
    margin: auto;
    /*(二)、这里是百分比或者像素值，对应上面的left、right中的width就是百分比或者像素值*/
    /*margin-left:15%;
    margin-right:15%;*/
}

#footer {
    background: blue;
    /*height: 100px;*/
    width: 100%;
    position:absolute;
    top: 300px;
    bottom: 0px;
}
